---
import AdminLayout from "../../components/AdminLayout.astro";
import { Admin } from "../../lib/service";
import { getDateFormated } from "../../lib/helpers";
import Button from "../../components/Button.astro";
import { ScheduleContainer } from "../../components/react/ScheduleContainer";
const talks = await Admin.getTalksWithUsers();
---

<AdminLayout>
    <h1 class="text-3xl text-white font-bold p-4 uppercase text-center">
        Calendario
    </h1>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 mx-8">
        <div
            class="flex flex-col gap-4"
            id="talks-container"
            data-array={JSON.stringify(talks)}
        >
            {
                talks.map((talk) => (
                    <div class="w-full h-[150px] flex flex-col bg-slate-900 rounded-xl">
                        <h2 class="text-white px-4 py-2 text-center text-xl uppercase font-bold">
                            {talk.name}
                        </h2>
                        <div class="flex justify-center">
                            <p class="text-white px-4 py-2 text-center text-xl uppercase font-bold">
                                {getDateFormated(talk.date).date}
                            </p>
                            <p class="text-white px-4 py-2 text-center text-xl uppercase font-bold">
                                {getDateFormated(talk.hour).hour}
                            </p>
                        </div>
                        <p class="text-white px-4 py-2 text-center text-xl uppercase font-bold">
                            duracion: {talk.duration} min
                        </p>
                    </div>
                ))
            }
        </div>
        <div>
            <h2
                class="text-white px-4 py-2 text-center text-3xl uppercase font-bold"
            >
                Agenda
            </h2>
            <ScheduleContainer client:load talks={talks} />
        </div>
    </div>
</AdminLayout>
